doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 404
                p This means that whatever path you entered is not valid.
