doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 Create New Package
                form(action=path method="post")
                    p Owner: #{username}

                    label(for="name") 
                        p Name of Package &nbsp
                    input(type="text" name="name")
                    br

                    input(name="submit" type="submit")

                if success
                    div(class="btn btn-success")
                        p Created New package #{success}.
                        p Edit the build through the editor.
                    br 
                    br

                if fail
                    div(class="btn btn-danger")
                        p Could not create.
                        p #{fail}
                    br
                    br
