doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 Deletion
                p Enter your password to delete your account.
                strong Remember that this is final.
                form(action=path method="post")
                    label(for="password")
                        p password &nbsp
                    input(type="password" name="password")
                    br
                    input(name="submit" type="submit")
