doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 Editing page
                form(action=path method="post")
                    p Owner: #{package.owner}
                    p Name: #{package.name}

                    label(for="dependencies")
                        p Dependencies (separated with whitespace) &nbsp
                    input(type="text" name="dependencies"
                            value=package.dependencies)
                    br

                    label(for="upstream")
                        p Upstream URL &nbsp
                    input(type="text" name="upstream" value=package.upstream)
                    br

                    label(for="info")
                        p package info &nbsp
                    textarea(rows=6 cols=80 type="text" name="info")
                        | #{package.info}
                    br
                    br
                    input(name="submit" type="submit")

                if success 
                    div(class="btn btn-success")
                        p Saved Changes.
                    br 
                    br
