doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 #{user}
            - var uc = `/users/${username}/add`
            if permissions
                button.btn.btn-primary.m-2
                    a(href=uc class="text-light")
                        | Create new package

            .row
                h2 Packages
            each obj in packages
                hr
                .row
                    .col-sm-8
                        h3 #{obj.name}
                        p
                            strong Dependencies: 
                            each d in obj.dependencies
                                | #{d} &nbsp
                        p 
                            strong Upstream: &nbsp
                            a(href=obj.upstream, target="new") #{obj.upstream}

                    .col-sm-2
                        - var ue = `/users/${user}/${obj.name}/edit`
                        - var uj = `/users/${user}/${obj.name}/json`
                        if permissions
                            button.btn.btn-success.m-2
                                a(href=ue class="text-light")
                                    | edit
                            
                            br
                        button.btn.btn-primary.m-2
                            a(href=uj class="text-light")
                                | JSON
                    .col-sm-2
                        - var ud = `/users/${user}/${obj.name}/delete`
                        if permissions
                            br
                            button.btn.btn-danger.m-2
                                a(href=ud class="text-light")
                                    | delete
            .row
                hr
                .col-sm-4
                    - var uda = `/users/${user}/delete`
                    if permissions
                        br
                        button.btn.btn-danger.m-2
                            a(href=uda class="text-light")
                                | Delete Account
                .col-sm-8
