doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 JPK
                p This is the website for the JPK backend.
                hr 
                h2 All Users on Server
                ul
                    each user in users
                        - var u = `/users/${user}`;
                        li
                            a(href=u) 
                                | #{user}
