doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 Login
                form(action="/login" method="post")
                    label(for="name") 
                        p username/email &nbsp
                    input(type="text" name="name")
                    br
                    label(for="password") 
                        p password &nbsp
                    input(type="password" name="password")
                    br
                    input(name="submit" type="submit")

                if fail
                    div(class="btn btn-danger")
                        p Invalid Attempt.
                    br
                    br
                if success 
                    div(class="btn btn-success")
                        p Logged in as #{username}.
                    br 
                    br
