nav.navbar.navbar-expand-sm.navbar-light.bg-light
    .container-fluid 
        .navbar-header 
            a(href="/").navbar-brand: | JPK
        
        // menu object defines names and urls for navbar
        ul.nav.navbar-nav
            li 
                -
                each url,name in navbar
                        button.btn.btn-success.m-2
                            a(href=url class="text-light")
                                | #{name}
                -
                if username
                    - var userurl = "/users/" + username;
                        button.btn.btn-light.m-2
                            a(href=userurl class="text-dark")
                                | #{username}
