doctype=html
html 
    include ./headers.pug
    body
        include ./navbar.pug
        .container
            .row
                h1 Register
                form(action="/register" method="post")
                    label(for="username") 
                        p username &nbsp
                    input(type="text" name="username")
                    br

                    label(for="email") 
                        p email &nbsp
                    input(type="text" name="email")
                    br

                    label(for="password") 
                        p password (No resets: be careful) &nbsp
                    input(type="password" name="password")
                    br

                    label(for="repeat")
                        p repeat password &nbsp
                    input(type="password" name="repeat")
                    br

                    input(name="submit" type="submit")

                if fail
                    div(class="btn btn-danger")
                        p Account cannot be created.
                        p #{fail}
                    br
                    br
                if success
                    div(class="btn btn-success")
                        p User #{username} successfully created.
                    br 
                    br
